doctype html
html(lang='en' ng-app="studentsApp" )
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title ЦДОТ - Студенты
    // Bootstrap Core CSS
    link(href='stylesheets/bootstrap.min.css', rel='stylesheet')
    // MetisMenu CSS
    link(href='stylesheets/metisMenu.min.css', rel='stylesheet')
    // Custom CSS
    link(href='stylesheets/sb-admin-2.min.css', rel='stylesheet')
    // Morris Charts CSS
    link(href='stylesheets/morris.css', rel='stylesheet')
    link(href='stylesheets/style.css', rel='stylesheet')
    // Custom Fonts
    link(href='stylesheets/font-awesome.min.css', rel='stylesheet', type='text/css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body(ng-controller="studentsController")
    #wrapper
      // Navigation
      nav.navbar.navbar-default.navbar-fixed-top(role='navigation', style='margin-bottom: 0')
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand.navbar-default-s() ЦДОТ ХГУЭП
        // /.navbar-header
        ul.nav.navbar-top-links.navbar-right
         
          
          li.dropdown
            a.dropdown-toggle(data-toggle='dropdown', href='#' class="userName" )=lname + " " + fname
              i.fa.fa-user.fa-fw
              i.fa.fa-caret-down
            ul.dropdown-menu.dropdown-user

              li
                a(href='#')
                  i.fa.fa-gear.fa-fw
                  |  Настройки
              li.divider
              li
                a(href='/?logout=1')
                  i.fa.fa-sign-out.fa-fw
                  |  Выход
            // /.dropdown-user
          // /.dropdown
        // /.navbar-top-links
        .navbar-default.navbar-default-s.sidebar(role='navigation')
          .sidebar-nav.navbar-collapse
            ul#side-menu.nav

              li
                a(href='/')
                  i.fa.fa-dashboard.fa-fw
                  |  Главная страница
              li
                a(href='#')
                  i.fa.fa-bar-chart-o.fa-fw
                  |  Глобальные настройки
                 
              li
                a(href='tables.html')
                  i.fa.fa-table.fa-fw
                  |  Журнал

              li
                a(href='forms.html')
                  i.fa.fa-edit.fa-fw
                  |  Лаборанты
              if rights == "rwd"
        
                li
                  a(href='/userEdit')
                    i.fa.fa-wrench.fa-fw
                    |  Управление пользователями
                  
                
              li
                a(href='/students')
                  i.fa.fa-graduation-cap.fa-fw
                  |  Студенты (Info)

              li
                a(href='forms.html')
                  i.fa.fa-user.fa-fw
                  |  Преподаватели (Info)
                  
                
                // /.nav-second-level
          // /.sidebar-collapse
        // /.navbar-static-side
      #page-wrapper
        .row
          .col-lg-12
            h1.page-header Студенты
          // /.col-lg-12
        // /.row
        .row
          .col-lg-3.col-md-6
            .panel.panel-primary
              .panel-heading
                .row
                  .col-xs-3
                    i.fa.fa-database.fa-5x
                  .col-xs-9.text-right(ng-repeat="count in count")
                    .huge {{count}}
                    div Студентов в базе
              a(href='#')
                .panel-footer
                  span.pull-left Студенты (Info)
                  span.pull-right
                    i.fa.fa-arrow-circle-right
                  .clearfix
          .col-lg-3.col-md-6
            .panel.panel-green
              .panel-heading
                .row
                  .col-xs-3
                    i.fa.fa-tasks.fa-5x
                  .col-xs-9.text-right
                    .huge 12
                    div Преподавателей
              a(href='#')
                .panel-footer
                  span.pull-left Преподаватели (Info)
                  span.pull-right
                    i.fa.fa-arrow-circle-right
                  .clearfix
          .col-lg-3.col-md-6
            .panel.panel-yellow
              .panel-heading
                .row
                  .col-xs-3
                    i.fa.fa-shopping-cart.fa-5x
                  .col-xs-9.text-right
                    .huge 124
                    div New Orders!
              a(href='#')
                .panel-footer
                  span.pull-left View Details
                  span.pull-right
                    i.fa.fa-arrow-circle-right
                  .clearfix
          .col-lg-3.col-md-6
            .panel.panel-red
              .panel-heading
                .row
                  .col-xs-3
                    i.fa.fa-support.fa-5x
                  .col-xs-9.text-right
                    .huge 13
                    div Support Tickets!
              a(href='#')
                .panel-footer
                  span.pull-left View Details
                  span.pull-right
                    i.fa.fa-arrow-circle-right
                  .clearfix
        .row
          .col-lg-5
            .form-group
              label ФИО
              input.form-control(type="text" ng-model="queryFIO")
          .col-lg-2
            .form-group
              label Группа
              select.form-control(ng-model="gr.groupSelect")
                option
                option(ng-repeat='gp in groups', value='{{gp.gruppa}}') {{gp.gruppa}}

                
                
                
                  
          
                  
          .col-lg-2
            .form-group
              label Год поступления
              input.form-control(type="text" ng-model="year")
          
          .col-lg-1
            label Найти
            button.btn.btn-success(ng-click="loadStudents(0,30,queryFIO,gr.groupSelect,year)")
              i.fa.fa-search.fa-1x
          .col-lg-1
            label Добавить
            a(href="#addStudent" data-toggle="modal")
              button.btn.btn-success
                i.fa.fa-plus.fa-1x  
                  




        

        .row
          .col-lg-12
            table.table.table-bordered.table-hover.table-striped.usersPanel(ng-init="loadStudents()")
                        thead
                          tr
                            th ID
                            th ФИО
                            th Дата рождения
                            th Группа
                            th e-mail
                            th Год поступления
                            th № Зачетной книжки
                            th Состояние                            

                        tbody(ng-repeat="student in studentsModel track by $index")
                            tr(ng-click="openEdit(student.id, student.fio, student.dr,student.grup, student.email,student.god_postup,student.zachotka,student.sostoyanie)")
                              td {{student.id}}
                              td {{student.fio}}
                              td {{student.dr}}
                              td {{student.grup}}
                              td {{student.email}}
                              td {{student.god_postup}}
                              td {{student.zachotka}}
                              td {{student.sostoyanie}}
                            
          .row
            .col-lg-12.text-center.loader
              .cssload-container
                ul.cssload-flex-container
                  li
                    span.cssload-loading.cssload-one
                    span.cssload-loading.cssload-two
                    span.cssload-loading-center
          .row
            .col-lg-12.text-center
              
              ul.pagination(ng-repeat="item in pug track by $index")
                li.pagination-item(onClick="setActive(this)")
                  a(class="" ng-click="selectPage(item)") {{item}}
              
               


          
              
              


                         
              
            

    script(src='javascripts/angular.js')
    script(src='javascripts/studentsAngular.js')
    script(src='javascripts/jquery.min.js')
    // Bootstrap Core JavaScript
    script(src='javascripts/bootstrap.min.js')
    // Metis Menu Plugin JavaScript

    script(src='javascripts/raphael.min.js')

    // Custom Theme JavaScript
    // HTML-код модального окна
    #editStudent.modal.fade
      .modal-dialog.modal-lg
        .modal-content
          // Заголовок модального окна
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4.modal-title Редактирование пользователя
          // Основное содержимое модального окна
          .modal-body
          table.table.table-bordered.table-hover.table-striped.editStudentTable
                        thead
                          tr
                            th ID
                            th ФИО
                            th Дата рождения
                            th Группа
                            th e-mail
                            th Год поступления
                            th № Зачетной книжки
                            th Состояние
                        tbody
                          td(ng-model="editOptions.id") {{editOptions.id}}

                            
                          td
                            input.form-control(value="{{editOptions.fio}}" ng-model="editOptions.fio")

                          td
                            input.form-control(placeholder="DD.MM.YYYY" value="{{editOptions.dr}}" ng-model="editOptions.dr")

                          td.col-lg-2
                            select.form-control.editGrupItem(ng-model="groupEdit" )
                              option
                              option(ng-repeat='gp in groups', value='{{gp.gruppa}}') {{gp.gruppa}}
                          td
                            input.form-control(value="{{editOptions.email}}" ng-model="editOptions.email")
                          td
                            input.form-control(value="{{editOptions.god_postup}}" ng-model="editOptions.god_postup")
                          td
                            input.form-control(value="{{editOptions.zachotka}}" ng-model="editOptions.zachotka")
                          td
                            input.form-control(value="{{editOptions.sostoyanie}}" ng-model="editOptions.sostoyanie")

          // Футер модального окна
          .modal-footer
            .alert.alert-success.text-left(ng-show="successUPD")
              h5 Успешно
            button.btn.btn-default(type='button', data-dismiss='modal') Закрыть
            button.btn.btn-danger(type='button' class="button-to-del-user" ng-click="delStudent(editOptions.id)") Удалить студента
            button.btn.btn-primary(type='button' class="button-to-push-user" ng-click="updStudent(editOptions.id,editOptions.fio,editOptions.dr,groupEdit,editOptions.email,editOptions.god_postup,editOptions.zachotka,editOptions.sostoyanie)") Сохранить изменения
    // Скрипт, вызывающий модальное окно после загрузки страницы
    #addStudent.modal.fade
      .modal-dialog.modal-lg
        .modal-content
          // Заголовок модального окна
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4.modal-title Добавление пользователя
          // Основное содержимое модального окна
          .modal-body
          table.table.table-bordered.table-hover.table-striped.editStudentTable
                        thead
                          tr                            
                            th ФИО *
                            th Дата рождения *
                            th Группа *
                            th e-mail
                            th Год поступления *
                            th № Зачетной книжки
                            th Состояние *
                        tbody
                                                      
                          td
                            input.form-control(ng-model="addst.fio")

                          td
                            input.form-control(placeholder="DD.MM.YYYY" ng-model="addst.dr")

                          td.col-lg-2
                            select.form-control.editGrupItem(ng-model="groupAdd" )
                              option
                              option(ng-repeat='gp in groups', value='{{gp.gruppa}}') {{gp.gruppa}}
                          td
                            input.form-control(ng-model="addst.email")
                          td
                            input.form-control(ng-model="addst.god_postup")
                          td
                            input.form-control(ng-model="addst.zachotka")
                          td
                            input.form-control(ng-model="addst.sostoyanie")

          // Футер модального окна
          .modal-footer
            .alert.alert-success.text-left(ng-show="successUPD")
              h5 Успешно
            button.btn.btn-default(type='button', data-dismiss='modal') Закрыть
            
            button.btn.btn-primary(type='button' class="button-to-push-user" ng-click="addStudent(addst.fio,addst.dr,groupAdd,addst.email,addst.god_postup,addst.zachotka,addst.sostoyanie)") Добавить
    // Скрипт, вызывающий модальное окно после загрузки страницы
    



