html {
	position: relative;
	min-height: 100%;
}
body {
	/* Отступ снизу, по высоте футера */
	margin-bottom: 120px !important;
}
.footer {
	background: #D6D6D6 !important;
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Фиксированная высота футера */
	height: 60px;

	background-color: #f5f5f5;
}

.footer .container p{
	padding-top: 20px;
	color:black !important;
}